<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title or metadata.title or eleventyNavigation.title }}</title>
<meta name="description" content="{{ description or metadata.description }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#d3374a">
<meta property="og:url" content="{{ url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title or metadata.title or eleventyNavigation.title }}">
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:locale" content="en_GB">
<meta property="article:author" content="{{ metadata.author }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="{{ metadata.twitter }}">
<meta name="twitter:url" content="{{ url }}">
<meta name="twitter:title" content="{{ title or metadata.title or eleventyNavigation.title }}">
<link rel="icon" href="/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Scope+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://unpkg.com/prismjs@1.29.0/themes/prism.css">
<script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>